* {
    margin: 0;
    padding: 0;
    border: 1px solid skyblue;
}

h1 {
    text-align: center;
}

img {
    background: transparent;
    height: 100%;
    width: 100%;
}

button {
    height: 35px;
    width: 75px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    justify-content: space-around;
}

.slot {
    height: 250px;
    width: 250px;
    justify-content: center;
    align-items: center;
}
